# Yoshops
## Data Science Internship 
## Task 7

In [1]:
# making imports
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# defining an URL to work on
coll_url = 'https://www.collegesearch.in/engineering-colleges-india'

In [3]:
# creating objects for URL
req = requests.get(coll_url)
soup = BeautifulSoup(req.content,'html5lib')

In [4]:
# getting colleges
college = soup.find_all('h2', class_='media-heading mg-0')
soup.find_all('h2', class_='media-heading mg-0')[0]

<h2 class="media-heading mg-0">

                                <a href="https://www.collegesearch.in/colleges/indian-institute-of-technology-iit-madras-chennai" onclick="return setTrack(1031, 'organic',1, 'search_result');" rel="noopener" title="Indian Institute of Technology, Chennai">Indian Institute of Technology, Chennai </a>
                            </h2>

In [5]:
# getting college details
details=soup.find_all('dl', class_='dl-horizontal mg-0')
soup.find_all('dl', class_='dl-horizontal mg-0')[0]

<dl class="dl-horizontal mg-0">
                            <!--Duration-->

                                                            <dt>Duration: </dt>
                                <dd>5 Years </dd>
                                                        <!--Fees-->
                                                            <dt>Total Fees: </dt>
                                <dd> Rs 9,00,450/-</dd>
                                                        <!--Affiliation-->
                                                            <dt>Institute Type: </dt>
                                <dd>Autonomous</dd>
                                                                                </dl>

In [6]:
# creating a df for the fetched data
data = pd.DataFrame({'clg':college,'details':details})

In [ ]:
# defining a function to fetch data from the URL
for i in range(1,50):
    coll_url='https://www.collegesearch.in/engineering-colleges-india'
    req=requests.get(coll_url)
    soup = BeautifulSoup(req.content,'html5lib')
    
    college=soup.find_all('h2', class_='media-heading mg-0')
    details=soup.find_all('dl', class_='dl-horizontal mg-0')
    
    df=pd.DataFrame({'clg':college,'details':details})
    data=data.append(df,ignore_index=True)

In [8]:
# checking the shape of the df
data.shape

(1000, 2)

In [9]:
# data preprocessing
data['college_name']=data['clg'].astype(str).str.split('\n',expand=True)[2].str.split('=',expand=True)[4]
data['city']=data['college_name'].astype(str).str.split(',',expand=True)[2].str.split('</a>',expand=True)[0]
data['Duration_years']=data['details'].astype(str).str.split('\n',expand=True)[4].str.split('Years',expand=True)[0].str.split('<dd>',expand=True)[1]
data['fees']=data['details'].astype(str).str.split('\n',expand=True)[7].str.split('<dd>',expand=True)[1].str.split('</dd>',expand=True)[0]
data['url']=data['clg'].astype(str).str.split('\n',expand=True)[2].str.split('=',expand=True)[1]

In [10]:
# dropping the unnecessary columns
data.drop(columns=['clg','details'], axis=1, inplace=True)

In [11]:
# storing the dataframe into an Excel file
data.to_excel('college_data.xlsx')

## On entering 1, show colleges from Delhi, Mumbai, Kolkata and Chennai

In [12]:
Delhi = data[data['city'] == ' Delhi ']
Mumbai = data[data['city'] == ' Mumbai ']
Kolkata = data[data['city'] == ' Calicut ']
Chennai = data[data['city'] == ' Chennai ']

In [13]:
Delhi

,college_name,city,Duration_years,fees,url
5,"""Indian Institute of Technology, Delhi"">Indian...",Delhi,4,"Rs 9,95,600/-","""https://www.collegesearch.in/colleges/indian-..."
15,"""Delhi Technological University (DTU), Delhi"">...",Delhi,4,"Rs 9,31,400/-","""https://www.collegesearch.in/university/delhi..."
25,"""Indian Institute of Technology, Delhi"">Indian...",Delhi,4,"Rs 9,95,600/-","""https://www.collegesearch.in/colleges/indian-..."
35,"""Delhi Technological University (DTU), Delhi"">...",Delhi,4,"Rs 9,31,400/-","""https://www.collegesearch.in/university/delhi..."
45,"""Indian Institute of Technology, Delhi"">Indian...",Delhi,4,"Rs 9,95,600/-","""https://www.collegesearch.in/colleges/indian-..."
...,...,...,...,...,...
955,"""Delhi Technological University (DTU), Delhi"">...",Delhi,4,"Rs 9,31,400/-","""https://www.collegesearch.in/university/delhi..."
965,"""Indian Institute of Technology, Delhi"">Indian...",Delhi,4,"Rs 9,95,600/-","""https://www.collegesearch.in/colleges/indian-..."
975,"""Delhi Technological University (DTU), Delhi"">...",Delhi,4,"Rs 9,31,400/-","""https://www.collegesearch.in/university/delhi..."
985,"""Indian Institute of Technology, Delhi"">Indian...",Delhi,4,"Rs 9,95,600/-","""https://www.collegesearch.in/colleges/indian-..."
995,"""Delhi Technological University (DTU), Delhi"">...",Delhi,4,"Rs 9,31,400/-","""https://www.collegesearch.in/university/delhi..."

In [14]:
# defining a function to achieve the same
def college_by_city(inp):
    if inp==1:
        print(Delhi['college_name'],Mumbai['college_name'],Kolkata['college_name'],Chennai['college_name'])
    else:
        pass

In [15]:
# pressing 1
inp = int(input('Enter 1 to see colleges...'))
college_by_city(inp)

Enter 1 to see colleges...1
5      "Indian Institute of Technology, Delhi">Indian...
15     "Delhi Technological University (DTU), Delhi">...
25     "Indian Institute of Technology, Delhi">Indian...
35     "Delhi Technological University (DTU), Delhi">...
45     "Indian Institute of Technology, Delhi">Indian...
                             ...
955    "Delhi Technological University (DTU), Delhi">...
965    "Indian Institute of Technology, Delhi">Indian...
975    "Delhi Technological University (DTU), Delhi">...
985    "Indian Institute of Technology, Delhi">Indian...
995    "Delhi Technological University (DTU), Delhi">...
Name: college_name, Length: 100, dtype: object 4      "Indian Institute of Technology Bombay, Mumbai...
7      "Institute of Chemical Technology (ICT), Mumba...
24     "Indian Institute of Technology Bombay, Mumbai...
27     "Institute of Chemical Technology (ICT), Mumba...
44     "Indian Institute of Technology Bombay, Mumbai...
                             ...
947    "Institute of Chemical Technology (ICT), Mumba...
964    "Indian Institute of Technology Bombay, Mumbai...
967    "Institute of Chemical Technology (ICT), Mumba...
984    "Indian Institute of Technology Bombay, Mumbai...
987    "Institute of Chemical Technology (ICT), Mumba...
Name: college_name, Length: 100, dtype: object 16     "National Institute of Technology (NIT), Calic...
36     "National Institute of Technology (NIT), Calic...
56     "National Institute of Technology (NIT), Calic...
76     "National Institute of Technology (NIT), Calic...
96     "National Institute of Technology (NIT), Calic...
116    "National Institute of Technology (NIT), Calic...
136    "National Institute of Technology (NIT), Calic...
156    "National Institute of Technology (NIT), Calic...
176    "National Institute of Technology (NIT), Calic...
196    "National Institute of Technology (NIT), Calic...
216    "National Institute of Technology (NIT), Calic...
236    "National Institute of Technology (NIT), Calic...
256    "National Institute of Technology (NIT), Calic...
276    "National Institute of Technology (NIT), Calic...
296    "National Institute of Technology (NIT), Calic...
316    "National Institute of Technology (NIT), Calic...
336    "National Institute of Technology (NIT), Calic...
356    "National Institute of Technology (NIT), Calic...
376    "National Institute of Technology (NIT), Calic...
396    "National Institute of Technology (NIT), Calic...
416    "National Institute of Technology (NIT), Calic...
436    "National Institute of Technology (NIT), Calic...
456    "National Institute of Technology (NIT), Calic...
476    "National Institute of Technology (NIT), Calic...
496    "National Institute of Technology (NIT), Calic...
516    "National Institute of Technology (NIT), Calic...
536    "National Institute of Technology (NIT), Calic...
556    "National Institute of Technology (NIT), Calic...
576    "National Institute of Technology (NIT), Calic...
596    "National Institute of Technology (NIT), Calic...
616    "National Institute of Technology (NIT), Calic...
636    "National Institute of Technology (NIT), Calic...
656    "National Institute of Technology (NIT), Calic...
676    "National Institute of Technology (NIT), Calic...
696    "National Institute of Technology (NIT), Calic...
716    "National Institute of Technology (NIT), Calic...
736    "National Institute of Technology (NIT), Calic...
756    "National Institute of Technology (NIT), Calic...
776    "National Institute of Technology (NIT), Calic...
796    "National Institute of Technology (NIT), Calic...
816    "National Institute of Technology (NIT), Calic...
836    "National Institute of Technology (NIT), Calic...
856    "National Institute of Technology (NIT), Calic...
876    "National Institute of Technology (NIT), Calic...
896    "National Institute of Technology (NIT), Calic...
916    "National Institute of Technology (NIT), Calic...
936    "National Institute of Technology (NIT), Calic...
956    "National Institute of Technology (NIT), Calic...
976    "National Institute of Technology (NIT), Calic...
996    "National Institute of Technology (NIT), Calic...
Name: college_name, dtype: object 0      "Indian Institute of Technology, Chennai">Indi...
20     "Indian Institute of Technology, Chennai">Indi...
40     "Indian Institute of Technology, Chennai">Indi...
60     "Indian Institute of Technology, Chennai">Indi...
80     "Indian Institute of Technology, Chennai">Indi...
100    "Indian Institute of Technology, Chennai">Indi...
120    "Indian Institute of Technology, Chennai">Indi...
140    "Indian Institute of Technology, Chennai">Indi...
160    "Indian Institute of Technology, Chennai">Indi...
180    "Indian Institute of Technology, Chennai">Indi...
200    "Indian Institute of Technology, Chennai">Indi...
220    "Indian Institute of Technology, Chennai">Indi...
240    "Indian Institute of Technology, Chennai">Indi...
260    "Indian Institute of Technology, Chennai">Indi...
280    "Indian Institute of Technology, Chennai">Indi...
300    "Indian Institute of Technology, Chennai">Indi...
320    "Indian Institute of Technology, Chennai">Indi...
340    "Indian Institute of Technology, Chennai">Indi...
360    "Indian Institute of Technology, Chennai">Indi...
380    "Indian Institute of Technology, Chennai">Indi...
400    "Indian Institute of Technology, Chennai">Indi...
420    "Indian Institute of Technology, Chennai">Indi...
440    "Indian Institute of Technology, Chennai">Indi...
460    "Indian Institute of Technology, Chennai">Indi...
480    "Indian Institute of Technology, Chennai">Indi...
500    "Indian Institute of Technology, Chennai">Indi...
520    "Indian Institute of Technology, Chennai">Indi...
540    "Indian Institute of Technology, Chennai">Indi...
560    "Indian Institute of Technology, Chennai">Indi...
580    "Indian Institute of Technology, Chennai">Indi...
600    "Indian Institute of Technology, Chennai">Indi...
620    "Indian Institute of Technology, Chennai">Indi...
640    "Indian Institute of Technology, Chennai">Indi...
660    "Indian Institute of Technology, Chennai">Indi...
680    "Indian Institute of Technology, Chennai">Indi...
700    "Indian Institute of Technology, Chennai">Indi...
720    "Indian Institute of Technology, Chennai">Indi...
740    "Indian Institute of Technology, Chennai">Indi...
760    "Indian Institute of Technology, Chennai">Indi...
780    "Indian Institute of Technology, Chennai">Indi...
800    "Indian Institute of Technology, Chennai">Indi...
820    "Indian Institute of Technology, Chennai">Indi...
840    "Indian Institute of Technology, Chennai">Indi...
860    "Indian Institute of Technology, Chennai">Indi...
880    "Indian Institute of Technology, Chennai">Indi...
900    "Indian Institute of Technology, Chennai">Indi...
920    "Indian Institute of Technology, Chennai">Indi...
940    "Indian Institute of Technology, Chennai">Indi...
960    "Indian Institute of Technology, Chennai">Indi...
980    "Indian Institute of Technology, Chennai">Indi...
Name: college_name, dtype: object

## On entering 2, show colleges in capital of states

In [16]:
# defining a function to achieve the same
def college_by_capital(inp_1):
    if inp_1==2:
        print(Mumbai['college_name'],Kolkata['college_name'],Chennai['college_name'])
    else:
        pass

In [17]:
#  pressing 2
inp_1 = int(input('Enter 2 to see colleges...'))
college_by_capital(inp_1)

Enter 2 to see colleges...2
4      "Indian Institute of Technology Bombay, Mumbai...
7      "Institute of Chemical Technology (ICT), Mumba...
24     "Indian Institute of Technology Bombay, Mumbai...
27     "Institute of Chemical Technology (ICT), Mumba...
44     "Indian Institute of Technology Bombay, Mumbai...
                             ...
947    "Institute of Chemical Technology (ICT), Mumba...
964    "Indian Institute of Technology Bombay, Mumbai...
967    "Institute of Chemical Technology (ICT), Mumba...
984    "Indian Institute of Technology Bombay, Mumbai...
987    "Institute of Chemical Technology (ICT), Mumba...
Name: college_name, Length: 100, dtype: object 16     "National Institute of Technology (NIT), Calic...
36     "National Institute of Technology (NIT), Calic...
56     "National Institute of Technology (NIT), Calic...
76     "National Institute of Technology (NIT), Calic...
96     "National Institute of Technology (NIT), Calic...
116    "National Institute of Technology (NIT), Calic...
136    "National Institute of Technology (NIT), Calic...
156    "National Institute of Technology (NIT), Calic...
176    "National Institute of Technology (NIT), Calic...
196    "National Institute of Technology (NIT), Calic...
216    "National Institute of Technology (NIT), Calic...
236    "National Institute of Technology (NIT), Calic...
256    "National Institute of Technology (NIT), Calic...
276    "National Institute of Technology (NIT), Calic...
296    "National Institute of Technology (NIT), Calic...
316    "National Institute of Technology (NIT), Calic...
336    "National Institute of Technology (NIT), Calic...
356    "National Institute of Technology (NIT), Calic...
376    "National Institute of Technology (NIT), Calic...
396    "National Institute of Technology (NIT), Calic...
416    "National Institute of Technology (NIT), Calic...
436    "National Institute of Technology (NIT), Calic...
456    "National Institute of Technology (NIT), Calic...
476    "National Institute of Technology (NIT), Calic...
496    "National Institute of Technology (NIT), Calic...
516    "National Institute of Technology (NIT), Calic...
536    "National Institute of Technology (NIT), Calic...
556    "National Institute of Technology (NIT), Calic...
576    "National Institute of Technology (NIT), Calic...
596    "National Institute of Technology (NIT), Calic...
616    "National Institute of Technology (NIT), Calic...
636    "National Institute of Technology (NIT), Calic...
656    "National Institute of Technology (NIT), Calic...
676    "National Institute of Technology (NIT), Calic...
696    "National Institute of Technology (NIT), Calic...
716    "National Institute of Technology (NIT), Calic...
736    "National Institute of Technology (NIT), Calic...
756    "National Institute of Technology (NIT), Calic...
776    "National Institute of Technology (NIT), Calic...
796    "National Institute of Technology (NIT), Calic...
816    "National Institute of Technology (NIT), Calic...
836    "National Institute of Technology (NIT), Calic...
856    "National Institute of Technology (NIT), Calic...
876    "National Institute of Technology (NIT), Calic...
896    "National Institute of Technology (NIT), Calic...
916    "National Institute of Technology (NIT), Calic...
936    "National Institute of Technology (NIT), Calic...
956    "National Institute of Technology (NIT), Calic...
976    "National Institute of Technology (NIT), Calic...
996    "National Institute of Technology (NIT), Calic...
Name: college_name, dtype: object 0      "Indian Institute of Technology, Chennai">Indi...
20     "Indian Institute of Technology, Chennai">Indi...
40     "Indian Institute of Technology, Chennai">Indi...
60     "Indian Institute of Technology, Chennai">Indi...
80     "Indian Institute of Technology, Chennai">Indi...
100    "Indian Institute of Technology, Chennai">Indi...
120    "Indian Institute of Technology, Chennai">Indi...
140    "Indian Institute of Technology, Chennai">Indi...
160    "Indian Institute of Technology, Chennai">Indi...
180    "Indian Institute of Technology, Chennai">Indi...
200    "Indian Institute of Technology, Chennai">Indi...
220    "Indian Institute of Technology, Chennai">Indi...
240    "Indian Institute of Technology, Chennai">Indi...
260    "Indian Institute of Technology, Chennai">Indi...
280    "Indian Institute of Technology, Chennai">Indi...
300    "Indian Institute of Technology, Chennai">Indi...
320    "Indian Institute of Technology, Chennai">Indi...
340    "Indian Institute of Technology, Chennai">Indi...
360    "Indian Institute of Technology, Chennai">Indi...
380    "Indian Institute of Technology, Chennai">Indi...
400    "Indian Institute of Technology, Chennai">Indi...
420    "Indian Institute of Technology, Chennai">Indi...
440    "Indian Institute of Technology, Chennai">Indi...
460    "Indian Institute of Technology, Chennai">Indi...
480    "Indian Institute of Technology, Chennai">Indi...
500    "Indian Institute of Technology, Chennai">Indi...
520    "Indian Institute of Technology, Chennai">Indi...
540    "Indian Institute of Technology, Chennai">Indi...
560    "Indian Institute of Technology, Chennai">Indi...
580    "Indian Institute of Technology, Chennai">Indi...
600    "Indian Institute of Technology, Chennai">Indi...
620    "Indian Institute of Technology, Chennai">Indi...
640    "Indian Institute of Technology, Chennai">Indi...
660    "Indian Institute of Technology, Chennai">Indi...
680    "Indian Institute of Technology, Chennai">Indi...
700    "Indian Institute of Technology, Chennai">Indi...
720    "Indian Institute of Technology, Chennai">Indi...
740    "Indian Institute of Technology, Chennai">Indi...
760    "Indian Institute of Technology, Chennai">Indi...
780    "Indian Institute of Technology, Chennai">Indi...
800    "Indian Institute of Technology, Chennai">Indi...
820    "Indian Institute of Technology, Chennai">Indi...
840    "Indian Institute of Technology, Chennai">Indi...
860    "Indian Institute of Technology, Chennai">Indi...
880    "Indian Institute of Technology, Chennai">Indi...
900    "Indian Institute of Technology, Chennai">Indi...
920    "Indian Institute of Technology, Chennai">Indi...
940    "Indian Institute of Technology, Chennai">Indi...
960    "Indian Institute of Technology, Chennai">Indi...
980    "Indian Institute of Technology, Chennai">Indi...
Name: college_name, dtype: object

## On entering 3, show all colleges

In [18]:
# defining a fucntion to achieve the same
def all_college(inp_2):
    if inp_2==3:
        print(data['college_name'])
    else:
        pass

In [19]:
# pressing 3
inp_2 = int(input('Enter 3 to see colleges...'))
all_college(inp_2)

Enter 3 to see colleges...3
0      "Indian Institute of Technology, Chennai">Indi...
1      "Indian Institute of Technology (IIT), Kanpur"...
2      "Indian Institute of Technology (IIT), Roorkee...
3      "Indian Institute of Technology (IIT), Kharagp...
4      "Indian Institute of Technology Bombay, Mumbai...
                             ...
995    "Delhi Technological University (DTU), Delhi">...
996    "National Institute of Technology (NIT), Calic...
997    "JNTUH College of Engineering (JNTUH CE), Hyde...
998    "National Institute of Technology (NIT) - Sura...
999    "Manipal University - Manipal Academy of Highe...
Name: college_name, Length: 1000, dtype: object